extends layout

block content
  h1= title
  p [ { word: 'ALL', total-occurrence(s): 1, sentence-index(es): [ '4' ] },
  p { word: 'Also', total-occurrence(s): 1, sentence-index(es): [ '1' ] },
  p { word: 'For', total-occurrence(s): 2, sentence-index(es): [ '2', '3' ] },
  p { word: 'JSON', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'MUST', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'Take', total-occurrence(s): 1 , sentence-index(es): [ '4' ]},
  p { word: 'The', total-occurrence(s): 1, sentence-index(es): [ '5' ] },
  p { word: 'Your', total-occurrence(s): 1 , sentence-index(es): [ '6' ] },
  p { word: 'alphabetized', total-occurrence(s): 1, sentence-index(es): [ '4' ] },
  p { word: 'an', total-occurrence(s): 6, sentence-index(es): [ '0', '1', '2', '3', '4', '5' ] },
  p { word: 'analysis', total-occurrence(s): 2 , sentence-index(es): [ '1', '5' ] },
  p { word: 'any', total-occurrence(s): 2 , sentence-index(es): [ '0', '2' ] },
  p { word: 'appears', total-occurrence(s): 1, sentence-index(es): [ '2' ] },
  p { word: 'below', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'by', sentence-index(es): [ '3' ], total-occurrence(s): 1 },
  p { word: 'communicated', total-occurrence(s): 1, sentence-index(es): [ '0' ] },
  p { word: 'console', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'could', total-occurrence(s): 1, sentence-index(es): [ '3' ] },
  p { word: 'defined', total-occurrence(s): 1, sentence-index(es): [ '3' ] },
  p { word: 'determine', total-occurrence(s): 1, sentence-index(es): [ '2' ] },
  p { word: 'displayed', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'each', total-occurrence(s): 1, sentence-index(es): [ '2' ] },
  p { word: 'entire', total-occurrence(s): 1, sentence-index(es): [ '2' ] },
  p { word: 'essentially', total-occurrence(s): 1, sentence-index(es): [ '0' ] },
  p { word: 'example', total-occurrence(s): 1, sentence-index(es): [ '3' ] },
  p { word: 'final', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'fish', total-occurrence(s): 1, sentence-index(es): [ '3' ] },
  p { word: 'fishes', total-occurrence(s): 1, sentence-index(es): [ '3' ] },
  p { word: 'following', total-occurrence(s): 1, sentence-index(es): [ '5' ] },
  p { word: 'form', total-occurrence(s): 2, sentence-index(es): [ '0', '6' ] },
  p { word: 'format', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'found', total-occurrence(s): 2, sentence-index(es): [ '1', '2' ] },
  p { word: 'how', total-occurrence(s): 2, sentence-index(es): [ '2', '6' ] },
  p { word: 'included', total-occurrence(s): 1, sentence-index(es): [ '5' ] },
  p { word: 'index', total-occurrence(s): 1, sentence-index(es): [ '1' ] },
  p { word: 'is', total-occurrence(s): 7, sentence-index(es): [ '0', '1', '2', '3', '4', '5', '6' ] },
  p { word: 'list', total-occurrence(s): 1, sentence-index(es): [ '4' ] },
  p { word: 'many', total-occurrence(s): 1, sentence-index(es): [ '2' ] },
  p { word: 'meaning', total-occurrence(s): 1, sentence-index(es): [ '0' ] },
  p { word: 'not', total-occurrence(s): 1, sentence-index(es): [ '5' ] },
  p { word: 'object', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'often', total-occurrence(s): 1, sentence-index(es): [ '0' ] },
  p { word: 'or', total-occurrence(s): 7, sentence-index(es): [ '0', '1', '2', '3', '4', '5', '6' ] },
  p { word: 'output', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'paragraph', total-occurrence(s): 2, sentence-index(es): [ '2', '4' ] },
  p { word: 'position', total-occurrence(s): 1, sentence-index(es): [ '1' ] },
  p { word: 'positions', total-occurrence(s): 1, sentence-index(es): [ '1' ] },
  p { word: 'provide', total-occurrence(s): 1 , sentence-index(es): [ '1' ]},
  p { word: 'readable', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'result', total-occurrence(s): 2, sentence-index(es): [ '5', '6' ] },
  p { word: 'return', total-occurrence(s): 1, sentence-index(es): [ '4' ] },
  p { word: 'same', total-occurrence(s): 2, sentence-index(es): [ '0', '6' ] },
  p { word: 'sample', total-occurrence(s): 1 , sentence-index(es): [ '6' ] },
  p { word: 'sentence', total-occurrence(s): 1, sentence-index(es): [ '1' ] },
  p { word: 'set', total-occurrence(s): 1, sentence-index(es): [ '5' ] },
  p { word: 'should', total-occurrence(s): 1, sentence-index(es): [ '5' ] },
  p { word: 'shown', total-occurrence(s): 1, sentence-index(es): [ '6' ] },
  p { word: 'stem', total-occurrence(s): 1, sentence-index(es): [ '3' ] },
  p { word: 'text', total-occurrence(s): 1 , sentence-index(es): [ '4' ] },
  p { word: 'their', total-occurrence(s): 1, sentence-index(es): [ '3' ] },
  p { word: 'this', total-occurrence(s): 2, sentence-index(es): [ '2', '4' ] },
  p { word: 'times', total-occurrence(s): 1, sentence-index(es): [ '2' ] },
  p { word: 'total', total-occurrence(s): 1, sentence-index(es): [ '2' ] },
  p { word: 'unique', total-occurrence(s): 4, sentence-index(es): [ '0', '2', '3', '4' ] },
  p { word: 'using', total-occurrence(s): 1, sentence-index(es): [ '3' ] },
  p { word: 'what', total-occurrence(s): 1, sentence-index(es): [ '1' ] },
  p { word: 'with', total-occurrence(s): 1, sentence-index(es): [ '0' ] },
  p { word: 'word', total-occurrence(s): 6, sentence-index(es): [ '0', '1', '2', '3', '4', '5' ] },
  p { word: 'words', total-occurrence(s): 2, sentence-index(es): [ '4', '5' ] },
  p { word: 'your', total-occurrence(s): 1, sentence-index(es): [ '5' ] } ]
