extends layout

block content
  h1= title
  p [ { word: 'ALL', sentence(s): [ '4' ], occurrences: 1 },
  p { word: 'Also', sentence(s): [ '1' ], occurrences: 1 },
  p { word: 'For', sentence(s): [ '2', '3' ], occurrences: 2 },
  p { word: 'JSON', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'MUST', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'Take', sentence(s): [ '4' ], occurrences: 1 },
  p { word: 'The', sentence(s): [ '5' ], occurrences: 1 },
  p { word: 'Your', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'alphabetized', sentence(s): [ '4' ], occurrences: 1 },
  p { word: 'an', sentence(s): [ '0', '1', '2', '3', '4', '5' ], occurrences: 6 },
  p { word: 'analysis', sentence(s): [ '1', '5' ], occurrences: 2 },
  p { word: 'any', sentence(s): [ '0', '2' ], occurrences: 2 },
  p { word: 'appears', sentence(s): [ '2' ], occurrences: 1 },
  p { word: 'below', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'by', sentence(s): [ '3' ], occurrences: 1 },
  p { word: 'communicated', sentence(s): [ '0' ], occurrences: 1 },
  p { word: 'console', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'could', sentence(s): [ '3' ], occurrences: 1 },
  p { word: 'defined', sentence(s): [ '3' ], occurrences: 1 },
  p { word: 'determine', sentence(s): [ '2' ], occurrences: 1 },
  p { word: 'displayed', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'each', sentence(s): [ '2' ], occurrences: 1 },
  p { word: 'entire', sentence(s): [ '2' ], occurrences: 1 },
  p { word: 'essentially', sentence(s): [ '0' ], occurrences: 1 },
  p { word: 'example', sentence(s): [ '3' ], occurrences: 1 },
  p { word: 'final', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'fish', sentence(s): [ '3' ], occurrences: 1 },
  p { word: 'fishes', sentence(s): [ '3' ], occurrences: 1 },
  p { word: 'following', sentence(s): [ '5' ], occurrences: 1 },
  p { word: 'form', sentence(s): [ '0', '6' ], occurrences: 2 },
  p { word: 'format', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'found', sentence(s): [ '1', '2' ], occurrences: 2 },
  p { word: 'how', sentence(s): [ '2', '6' ], occurrences: 2 },
  p { word: 'included', sentence(s): [ '5' ], occurrences: 1 },
  p { word: 'index', sentence(s): [ '1' ], occurrences: 1 },
  p { word: 'is', sentence(s): [ '0', '1', '2', '3', '4', '5', '6' ], occurrences: 7 },
  p { word: 'list', sentence(s): [ '4' ], occurrences: 1 },
  p { word: 'many', sentence(s): [ '2' ], occurrences: 1 },
  p { word: 'meaning', sentence(s): [ '0' ], occurrences: 1 },
  p { word: 'not', sentence(s): [ '5' ], occurrences: 1 },
  p { word: 'object', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'often', sentence(s): [ '0' ], occurrences: 1 },
  p { word: 'or', sentence(s): [ '0', '1', '2', '3', '4', '5', '6' ], occurrences: 7 },
  p { word: 'output', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'paragraph', sentence(s): [ '2', '4' ], occurrences: 2 },
  p { word: 'position', sentence(s): [ '1' ], occurrences: 1 },
  p { word: 'positions', sentence(s): [ '1' ], occurrences: 1 },
  p { word: 'provide', sentence(s): [ '1' ], occurrences: 1 },
  p { word: 'readable', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'result', sentence(s): [ '5', '6' ], occurrences: 2 },
  p { word: 'return', sentence(s): [ '4' ], occurrences: 1 },
  p { word: 'same', sentence(s): [ '0', '6' ], occurrences: 2 },
  p { word: 'sample', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'sentence', sentence(s): [ '1' ], occurrences: 1 },
  p { word: 'set', sentence(s): [ '5' ], occurrences: 1 },
  p { word: 'should', sentence(s): [ '5' ], occurrences: 1 },
  p { word: 'shown', sentence(s): [ '6' ], occurrences: 1 },
  p { word: 'stem', sentence(s): [ '3' ], occurrences: 1 },
  p { word: 'text', sentence(s): [ '4' ], occurrences: 1 },
  p { word: 'their', sentence(s): [ '3' ], occurrences: 1 },
  p { word: 'this', sentence(s): [ '2', '4' ], occurrences: 2 },
  p { word: 'times', sentence(s): [ '2' ], occurrences: 1 },
  p { word: 'total', sentence(s): [ '2' ], occurrences: 1 },
  p { word: 'unique', sentence(s): [ '0', '2', '3', '4' ], occurrences: 4 },
  p { word: 'using', sentence(s): [ '3' ], occurrences: 1 },
  p { word: 'what', sentence(s): [ '1' ], occurrences: 1 },
  p { word: 'with', sentence(s): [ '0' ], occurrences: 1 },
  p { word: 'word', sentence(s): [ '0', '1', '2', '3', '4', '5' ], occurrences: 6 },
  p { word: 'words', sentence(s): [ '4', '5' ], occurrences: 2 },
  p { word: 'your', sentence(s): [ '5' ], occurrences: 1 } ]
